[user]
	name = alex
	email = alex.valiushko@lendesk.com
[credential]
	helper = osxkeychain
[push]
	default = upstream
[color]
	ui = true
[pager]
	log = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight
