# Vim
vim/.vim/*
!vim/.vim/bundle/neobundle.vim
!vim/.vim/ftplugin

# NVIM
nvim/.config/nvim/*
!nvim/.config/nvim/init.vim
!nvim/.config/nvim/autoload
nvim/.config/nvim/autoload/plug.vim.old

# Fish
fish/.config/fish/*
!fish/.config/fish/config.fish
!fish/.config/fish/custom
